@font-face{
    font-family: Roboto;
        src: url(font/Roboto-Regular.ttf);
        src: url(font/Roboto-Bold.ttf);
        src: url(font/Roboto-Light.ttf);
}

*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ;
}

/* section{
    padding: 100px;
} */

/* section h2{
    color: blueviolet;
    font-size: 4em;
}

section p{
    font-size: 1.2em;
    margin-top: 20px;

} */

.preloder{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #070707;
    z-index: 100;

}

.counter{
    position: relative;
    color: #fff;
    font-size: 10em;
    font-weight: 700;
    z-index: 1;
}

.counter:before{
    content: '08.06.';
    font-size: 1em;

}

/* ============================= */
.hide{
    opacity: 0;
    transition: 1s;
    pointer-events: none;
}

.preloder.active{
    transform: translateY(-100vh);
    transition: ease-in-out 2s; /* ?? EI */
    transition-delay: 1s;
}


/* =================================== */
/* 
        IMG BLOCK
*/

.carousel-container{
    
    width: 1050px;
    margin: auto;
    margin-top: 30px;
    overflow: hidden;
    /* border: 5px solid black; */
    position: relative;
    box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.6);
}

.carousel-slide{
    display: flex;
    width: 100%;
    height: 550px;
}

/* .carousel-slide div{
    width: 100%;
    height: 100%;
} */

img{
    width: 100%;
    height: 100%;
}

.text {
    font-size: 2rem;
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text.active{
    transform: translateY(-5vh);
    transition: ease-in-out 1s; /* ?? EI */
    /* transition-delay: 1s; */
}

#prevBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 2%;
    fill: white;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#nextBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 2%;
    fill: white;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.hide-remove{
    opacity: 0;
    pointer-events: none;
}

.hide-btn{
    opacity: 0;
}

/* ===================== */

.first-block{
    justify-content: center;
    display: flex;
    margin-top: 3em;
    margin-left: 2em;
    flex-direction: column;
}

.main-p{
    width: 700px;
    font-size: 1.4rem;
    margin: 2em 1em;
}

p{
    font-size: 1.4rem;
    margin: 2em 4em;
}

.h1-block{
    display: flex;
    /* font-style: italic; */
    font-size: 2rem;
    justify-content: center;
    color: rgb(88, 64, 226);
    

    text-shadow: 1px 1px 2px grey;
}